body {
    height: 100%;
    width: 100%;
    background-color: #0F2C59;
    display: flex;
    align-items: center;
    justify-content: center;

}

#card {
    height: 520px;
    width: 380px;
    background-color: #F8F0E5;
    border: none;
    border-radius: 12px;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    position: relative;
}

#card h2 {
    text-align: center;
}

.chats {
    background-color: cadetblue;
    width: 95%;
    margin: 5px;
    border-radius: 12px;
    border: 1px solid #0F2C59;
    display: flex;
    align-items: flex-start ;
}

.chats p {
    margin: 0;
    padding: 10px;
}

#message-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;    

}

#txt {
    width: 75%;
    height: 35px;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 5px;
    border: 2px solid #0F2C59;
}

#send {
    height: 35px;
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 8px;
    background-color: #0F2C59;
    color: #fff;
    border: none;
}

#send:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #0F2C59;
    border-radius: 12px;
    color: #0F2C59;
}