{% load static %}

<html>
    <head>
        <title>
            Chat Room
        </title>
        <link rel="stylesheet" href="{% static 'room.css' %}">

        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    </head>

    <body>
        
        <div id="card">
            <h2>
                Chat Room: {{room.room}}
            </h2>

            <div class="chats">
                <p>
                        This is the trial message.
                </p>
            </div>

            <div id="message-container">
                <form id="post-form">
                    {%csrf_token%}
                    <input type="hidden" name="username" id="username" value="{{username}}">
                    <input type="hidden" name="room_id" id="room_id" value="{{room.id}}">
                    <div id="send-container">
                        <input type="text" id="txt" name="message" placeholder="Type message here">
                        <input type="submit" value="Send" id="send">
                    </div>
                    
                </form>
                
            </div>
            
        </div>
    </body>

    <script src="{% static 'script.js' %}"></script>
</html>